@using WebApplication3.Models.Entity
@using System.Collections.Generic
@using System
@using System.Drawing
@using System.Net
@using System.Windows



@model List<Kitap>
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/Layout.cshtml";

}

<h2>Kitap Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>Kitap Adı</th>
        <th>Basım Yılı</th>
        <th>Kitap Yazarı</th>
        <th>Yayınevi</th>
        <th>Resim</th>
        <th>Durum</th>
    </tr>
    @foreach (var book in Model.OrderBy(Kitap => Kitap.AD)) // alfabetik sıra
    {
        
        <tr>
            <td>@book.AD</td>
            <td>@book.YIL</td>
            <td>@book.Yazar1.AD</td>
            <td>@book.YAYINEVİ</td>
            <td>@book.RESİM</td>
            @if (book.DURUM == true)
            {
                <td>Müsait</td>
            }
            else
            {
                <td>Meşgul</td>
            }
        </tr>

    }

</table>
<a href="/Kitap/KitapEkle/" class="btn btn-primary">Yeni Kitap Ekle</a>